# fly.toml app configuration file generated for dp-telegram-bot on 2025-11-22T20:29:41+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'dp-telegram-bot'
primary_region = 'fra'

[build]

[processes]
  app = 'python bot.py'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = false
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
